@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #D1BBD2, #9CD3C9);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px  5px 15px #b858a385;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F9CA62;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #F1909F;
}

p {
    text-align: justify;
}